body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Header style starts*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* Header style ends*/
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}
/* Event text style starts*/
.description{
  white-space: pre-wrap;
  margin-bottom: 0;
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.text-block {
  width: 100%;
  height: 70%;
}
.not-saved {
  border-style: dotted;
}
/* Event text style ends*/

/* Time style starts*/
.time-block{
  text-align: center;
  border-radius: 15px;
}
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
.past {
  background-color: #d3d3d3;
  color: black;
}
.present {
  background-color: #ff6961;
  color: black;
}
.future {
  background-color: #77dd77;
  color: black;
}
/* Time style ends*/

/* Save icon style starts*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  text-align: center;
}
.saveBtn i:hover {
  font-size: 30px;
  color: #000000;
  transition: all .3s ease-in-out;
}
.icon {
  margin: 20% auto auto auto;
  padding: auto;
}
/* Save icon style ends*/

/* Delete icon style starts*/
.utility {
  text-align: center;
  position: sticky;
  bottom:0; 
  width:100%;
  background-color: white;;
}
.clear-all {
  font-size: large;
  border-style: double;
  background-color: crimson;
  color: white;
  padding: 0;
  width: 3%;
  margin:auto;
  opacity: 0.75;
}

.clear-all:hover {
  font-size: 40px;
  transition: all .3s ease-in-out;
}
/* Delete icon style endss*/

/* Footer style starts*/
footer {
  text-align: right;
}
/* Footer style ends*/

/* Screen size style starts*/
@media (max-width: 768px) {
  
  .hour {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
  .clear-all {
    padding: 1rem;
    width: 10%;
  }
}

@media (max-width: 576px) {

  .row {
    margin:1%;
  }
  .time-block {
    font-size: 0.75rem;
  }
}

@media (max-width: 500px) {
     
  .time-block {
   font-size: 0.6rem;
  }
  .clear-all {
    width: 15%;
  }
  .saveBtn {
    padding-left: 1%;
  }
}
/* Screen size style ends*/